# Maven build folders
target/
*.class

# STS / Eclipse files
.project
.classpath
.settings/
.springBeans
.sts4-cache/

# IntelliJ files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment/local config
.env